*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    background-color: black;
    color:#e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

/* GRADIENT AND LAYER BLUR EFFECT  */
.image-gradient{
    position: absolute;
    right: 0;
    top:0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

/* CONTAINER */
.container{
    width: 100%;
    margin: 0 auto;
    padding:  0 2rem;
    position: relative;
    overflow: hidden;
}


/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem 3rem;
}


header h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    padding: 5px;
}

.logo{
    font-weight: bold;
    font-style: normal;
    font-family: sans-serif;
}

nav{
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-top: 6px;
    margin-left: -4%;
}

nav a{
    font-size:1rem;
    font-weight: 490;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration:none;
    color: inherit;
    z-index: 999;
}

nav a:hover{
    color: #a7a7a7;
}

.btn-signing{
    background-color:#a7a7a7;
    color: black;
    padding:0.5rem 1.5rem;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
    margin-right: 7px;
    margin-top: 7px;
}
.btn-login{
    background-color:#a7a7a7;
    color: black;
    padding:0.5rem 1.5rem;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
    margin-top: 7px;
}

.btn-signing:hover{
    background-color:white;
}

.btn-login:hover{
    background-color:white;
}

/*MAIN CONTENT*/
main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: calc(110vh - 10rem);
}

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565,
    #7f42a7,#6600c5,#5300a0,#757575,#656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
     position: absolute;
     inset: 3px 3px 3px 3px;
     background-color:black;
     border-radius: 50px;
     display:flex;
     align-items: center;
     justify-content: center;
     transition:0.5s ease;
     cursor: pointer;
}

.tag-box .tag:hover{
    color:#5300a0;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin:2rem 0;
    line-height: 1.2;
    text-shadow:0 0 10px rgba(128,128,128,0.418);
}

.description {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color:gray;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-get-started{
    text-decoration: none;
    border:1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight:600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.btn-get-started:hover{
    background-color:#1a1a1a;
}

.btn-signing-main {
    text-decoration: none;
    background-color: lightgray;
    color:black;
    padding:0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-signing-main:hover{
    background-color:gary;

}

.robot-3d{
    position: absolute;
    top:0;
    right: -30%;
    scale: 0.7;
}

/* TABLET RESPONSIVE */
@media (max-width: 1300px){
    header{
        padding: 1rem o.5rem;
}

.content{

    margin-top:85%;
}

.robot-3d{
    scale: 0.8;
    top: -20%;
    right: 2%;
}
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px){
    header{
        padding: 1rem 0.1rem;
    }
    nav{
        display:none;
    }
    header h1{
        font-size: 2rem;
    }
    .btn-signing{
        padding: 0.6rem 1.5rem;
    }
    .content{
        margin-top: 25rem;
    }
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .content{
        max-width: 30rem;
        margin-left:10%;
    }
    .tag-box{
        width:12rem;
    }
    .content h1{
        font-size: 2.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .btn-get-started{
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }
    .btn-signing-main{
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }
}
